name: labels

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/labels.yml'
      - '.github/workflows/labels.yml'

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Run Labeler
        uses: jetersen/ghaction-github-labeler@fix/loadConfigGitHubApi
      - name: Generate token
        id: gentoken
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.SPECSHELL_PUSH_APP_ID }}
          private_key: ${{ secrets.SPECSHELL_PUSH_APP_PEM }}
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ steps.gentoken.outputs.token }}
          repository: Specshell/specshell.github.workflows
          event-type: labels-update
